
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#main{
    height : 100%;
    width : 100%;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 100px 100px 100px;
}
.elem{
    background-color: red;
    border : 3px solid greenyellow;
}

