#one{
    width : 100px;
    height : 100px;
    background-color: red;
}

#two{
    width : 100px;
    height : 100px;
    background-color: yellow;
}
#three{
    width : 100px;
    height : 100px;
    background-color: limegreen;
}
#box{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: end; */
    align-content: center;
    /* align-content: end; */
}