html,
body {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font: 'Gilroy';
    box-sizing: border-box;
}

#main {
    height: 100%;
    width: 100%;
    /* background-color: beige; */
    /* position: relative;  */
    padding-top: 1px;
}

#nav {
    height: 10vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav h2 {
    border-right: 2px solid black;
    font-size: 28px;
    font-weight: 600;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav :nth-last-child(1) {
    width: 6%;
}

#nav h1 {
    height: 100%;
    width: 16%;
    font-family: monument;
    font-size: 48px;
    letter-spacing: -4.5px;
    font-weight: 1600;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav i {
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav *:hover {
  text-decoration: underline;
  cursor: pointer;
}


#center {
    height: 85%;
    width: 100%;
    /* background-color: lime;  */
    padding: 4vw;
    position: relative;
}

#content {
    width: 100%;
    height: 100%;
    background-color: coral;
    position: relative;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 45%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
    color: white;
    background-color: rgb(0, 0, 0, 0.154);
    backdrop-filter: blur(2px);
}

#over1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#over1 h1 {
    font-family: monument;
    font-size: 2vw;
    font-weight: 600;
    margin-bottom: 2vw;
    /* mix-blend-mode :exclusion; */
}

#over2 {
    border-top: 3px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#over2 h4 {
    font-size: 1vw;
    font-weight: 300;
    mix-blend-mode: difference;
}

#scroll {
    height: 35vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* Clean spacing instead of ugly text gaps */
}

#scroll img {
    /* display: none; */
    height: 45%;
    width: 8%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin: .8vw;
}

#container {
    height: 90%;
    width: 100%;
    display: inline-block;
    animation-name:imagescroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#container ::-webkit-scrollbar{
    display: transparent;
}

@keyframes imagescroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
    
}

#alphabet{
    width: 100%;
    height: 10vh;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 1.2vw;
    margin-top: 1px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#alphabet h5{
    font-size: 1.7vw;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    border-bottom: 2px solid black;
    letter-spacing: 2px;
}

#alphabet h6{
    font-size: 1vw;
    font-weight: 300;
    font-style: italic;
    padding: 0.6vw 0.6vw;
    /* background-color: brown; */
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#alphabet h6:hover{
    border: 2px solid black;
}

#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 4vw;
}
#page2-part1{
    height: 100%;
    width: 50%;
    /* background-color: blue; */
}

#page2-part1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    margin-left: 25px;
}

#page2-part2{
    height: 100%;
    width: 40%;
}

#page2-part2 img{
    height: 75%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    margin-right: 25px;
}