* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
}

#page1 {
    height: 100%;
    width: 100%;
}

#nav {
    height: 120px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

#nav1 {
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav1 h4 {

    font-size: 16px;
    font-weight: 500;
}

#nav2 {
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: right;
    gap: .5vw;
}

#nav img {
    height: 90px;
}

#nav2 button:nth-last-child(1) {
    padding: 12px 18px;
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 16px;
}

#nav2 button:nth-child(1) {
    padding: 12px 18px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    font-size: 16px;
}

#content {
    height: calc(100% - 120px - 350px);
    width: 100%;
    /* background-color: crimson; */
    padding-top: 100px;
}

#content h3 {
    background-color: #F2B0EA;
    padding: 8px 16px;
    height: fit-content;
    width: fit-content;
    border-radius: 50px;
    position: relative;
    left: 39%;
    font-size: 17px;

}

#content h1 {
    padding: 30px 40px;
    font-size: 90px;
    text-align: center;
    line-height: 90px;

}

#content h4 {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

#content button {
    padding: 12px 18px;
    font-weight: 600;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    position: relative;
    left: 44%;
    margin-top: 2vh;
}

#bottom {
    height: 400px;
    width: 100%;
    /* background-color: antiquewhite; */
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    overflow-x: auto;
}

#bottom::-webkit-scrollbar {
    background-color: transparent;
}

.elem {
    height: 92%;
    width: 250px;
    /* background-color: blue; */
    /* border: 2px solid black; */
    flex-shrink: 0;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-timing-function: linear;
    border-radius: 40px;
    overflow: hidden;
}

.elem img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.elem video {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.elem .text-bottom {
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0;
    padding: 3vw;
    color: white;
    background-color: rgb(0, 0, 0, 0.154);
    backdrop-filter: blur(2px);
    text-align: center;
    font-weight: 500;
}

#page2{
    height: 100%;
    width: 100%;
    padding: 60px;
    position: relative;
}

.box{
    height: 330px;
    width: 380px;
    background-color: #F2B0EA;
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
    margin: 7px;
    position: relative;
}

#page2 h1{
    text-align: center;
    padding-bottom: 4vh;
    font-family: 'momentum';
    font-size: 50px;
}

.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.box #box-bottom{
    height: 40%;
    width: 100%;
    background : linear-gradient(transparent,rgba(0, 0, 0, 0.879));
    position: absolute;
    bottom: -40%;
    /* opacity: 0; */
    transition: all ease-in 0.3;
}

.box:hover #box-bottom{
    /* opacity: 1; */
    bottom: 0;
    cursor: pointer;
}

.box:hover{

    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.685);
}

@keyframes slide {

    from {
        transform: translate(0%);
    }

    to {
        transform: translate(-100%);
    }

}