html,
body {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font: 'Gilroy';
    box-sizing: border-box;
}

#main {
    height: 100%;
    width: 100%;
    /* background-color: beige; */
    /* position: relative;  */
    padding-top: 1px;
}

#nav {
    height: 10vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav h2 {
    border-right: 2px solid black;
    font-size: 28px;
    font-weight: 600;
    height: 100%;
    width : 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav :nth-last-child(1){
    width : 6%;
}

#nav h1 {
    height: 100%;
    width: 16%;
    font-family: monument;
    font-size: 48px;
    letter-spacing: -4.5px;
    font-weight: 1600;
    display : flex;
    justify-content: center;
    align-items: center;
}
#nav i {
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#center {   
    height: 85%;
    width: 100%;
     /* background-color: lime;  */
    padding: 4vw;
    position: relative;
}

#content {
    width: 100%;
    height: 100%;
    background-color: coral;
    position: relative;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay {
    height: 45%;
    width : 100%;
    position : absolute;
    bottom: 0;
    padding : 3vw;
    color: white;
}

#over1{
    display : flex;
    justify-content: space-between;
    align-items: center;
}

#over2{
    border-top: 2px solid black;
    width: 100%;
    display : flex;
    justify-content: space-between;
    align-items: center;
}